:root {
  --spacing0: 0.3rem;
  --spacing1: 1rem;
  --spacing2: 2rem;
  --lightGrey: #ccc;
  --grey: #282c34;
}

input,
select {
  width: 97%;
  padding: var(--spacing0);
  border: 1px solid var(--lightGrey);
  border-radius: var(--spacing0);
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  border-color: var(--grey);
  outline: none;
  box-shadow: 0 0 5px var(--lightGrey);
}

ul {
  padding-left: 0;
}

button {
  float: right;
  margin-top: var(--spacing1);
  background-color: var(--grey);
  border: none;
  color: white;
  font-weight: 800;
  padding: var(--spacing0) var(--spacing2);
  margin: 0 var(--spacing0);
  border-radius: var(--spacing0);
  cursor: pointer;
}

.secondaryBtn {
  background-color: var(--lightGrey);
  color: var(--grey);
}
.disabledBtn {
  opacity: 60%;
  cursor: not-allowed;
}

.formField {
  margin: var(--spacing0) 0;
}
.error {
  border: 1px solid red;
}
.error:focus {
  border-color: red;
}
.errorText {
  color: red;
  font-size: small;
}

.header {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: var(--spacing2);
  padding: var(--spacing2);
}

.twoColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing);
}

.card {
  border-bottom: 2px solid #000;
  border-top: 1px solid #000;
  padding-bottom: var(--spacing1);
  padding-top: var(--spacing1);
  margin-bottom: 5px;
  clear: both;
  overflow: hidden;
}
